body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.content {
  max-width: 700px;
  width: 100%;
  margin: auto;
}

.b-post {
  text-decoration: none;
  color: #000;
  margin-bottom: 40px;
  display: block;
  &__title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 4px;
    letter-spacing: -0.3px;
  }
  &__props {
    display: none;
  }
  &__description {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }
}
