@font-face {
  font-family: 'InputMono';
  src: url('/assets/fonts/InputMono-Regular.eot');
  src: local('☺'), url('/assets/fonts/InputMono-Regular.woff') format('woff'),
  url('/assets/fonts/InputMono-Regular.ttf') format('truetype'),
  url('/assets/fonts/InputMono-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InputMono';
  src: url('/assets/fonts/InputMono-Black.eot');
  src: local('☺'), url('/assets/fonts/InputMono-Black.woff') format('woff'),
  url('/assets/fonts/InputMono-Black.ttf') format('truetype'),
  url('/assets/fonts/InputMono-Black.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

h1 {
  font-size: 30px;
  font-weight: 400;
}
