@font-face {
  font-family: NEXTART;
  src: url("/assets/fonts/NEXT ART_Regular.otf") format("opentype");
}

@font-face {
  font-family: NEXTART;
  src: url("/assets/fonts/NEXT ART_Bold.otf") format("opentype");
  font-weight: bold;
}
