<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/ico" />
    <title>
        {% if page.browserTitle %}
            {{ page.browserTitle | escape }}
        {% else %}}
            {% if page.title %}
                {{ page.title | escape }}
            {% else %}}
                {{ site.title | escape }}
            {% endif %}
        {% endif %}
    </title>
    <meta name="description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | relative_url }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000">
    <meta name="theme-color" content="#000">
</head>
<body>
    <div class="content">
        <header class="content__header header">
            <a href="/{% if page.lang == 'en' %}en{% endif %}" class="header__logo logo">
                <div class="logo__image">
                    <img src="https://avatars.githubusercontent.com/u/12941997?s=460&u=4ec37709c7c4623e5ab2d1cf43d7c3ae5231a3bd&v=4"/>
                </div>
                <div class="logo__content">
                    {% for item in site.data.navigation.languages %}
                    {% if item.language == page.lang %}
                    <div class="logo__content-name">{{ item.name }}</div>
                    <div class="logo__content-description">{{ item.description }}</div>
                    {% endif %}
                    {% endfor %}
                </div>
            </a>
            <div class="header__menu menu">
                {% for item in site.data.navigation.languages %}
                {% if item.language == page.lang %}
                {% for link in item.links %}
                {% if link.url contains "http" %}
                {% assign url = link.url %}
                {% else %}
                {% assign url = link.url | relative_url %}
                {% endif %}
                <a
                        {% if link.blank %}
                        target="_blank"
                        {% endif %}
                        {% if link.url contains "hh.ru" %}
                        rel="nofollow"
                        {% endif %}
                        class="menu__item"
                        href="{{ url }}"
                >{{ link.svg }} {{ link.title }}</a>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </div>
        </header>
        <main class="content__container">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2>{{ page.subtitle }}</h2>
            {% endif %}
            {{ content }}
        </main>
    </div>
    <footer>
        &copy; {{ 'now' | date: "%Y" }},
        {% for item in site.data.navigation.languages %}
        {% if item.language == page.lang %}
            {{ item.name }}
        {% endif %}
        {% endfor %},
        <a target="_blank" href="https://github.com/maxkrasnov">github</a> |
        <a target="_blank" href="https://ru.stackoverflow.com/users/243667/maxkrasnov?tab=profile">stackoverflow</a>
    </footer>
    <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter46521003 = new Ya.Metrika2({ id:46521003, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/46521003" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    <!-- Global site tag (gtag.js) - Google Analytics --><script async src="https://www.googletagmanager.com/gtag/js?id=UA-56160960-2"></script><script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-56160960-2');</script>
</body>
</html>
