<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">
<head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | relative_url }}" />
</head>
<body>
    <header class="header">
        <menu>
            {% for item in site.data.navigation.languages %}
                {% if item.language == page.lang %}
                    {% for link in item.links %}
                        {% if link.url contains "http" %}
                            {% assign url = link.url %}
                        {% else %}
                            {% assign url = link.url | relative_url %}
                        {% endif %}
                        <a class="page-link" href="{{ url }}">{{ link.title }}</a>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </menu>
    </header>
    <main class="content">
        <h1>{{ page.title }}</h1>
        {% if page.subtitle %}
            <h2>{{ page.subtitle }}</h2>
        {% endif %}
        {{ content }}
    </main>
</body>
</html>
